{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [">0.25%", "not op_mini all"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-syntax-class-properties", { "spec": true }],
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}
