{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">0.25%", "not op_mini all"]
      }
    }]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}
